{# twig template #}
{% extends 'base.html.twig' %}


{% block page_content %}

    {% embed 'layouts/right-sidebar.html.twig' %}

        {% block layout_header_left %}
            {% include 'components/header/logo.html.twig' %}
        {% endblock %}

        {% block layout_header_middle %}{% endblock%}

        {% block layout_header_right %}
            {% include 'components/header/call-now.html.twig' %}
        {% endblock %}

        {% block layout_page_title %}A Safer Alternative. A Better Price{% endblock %}

        {% block layout_main_content %}
            <div class="col-12">
                <p>Hi. I'm Joe Daigle, owner of Clean Gutter Co.</p>

                <p>Did you know that every year, over 500,000 ladder-related injuries are treated in emergency rooms across the United States? That's a lot of falls!</p>

                <p>Why take the risk, just to clean a gutter? But how else will you get 'em cleaned?</p>

                <p>And if you hire someone, they'll just climb up ladders themselves, and could fall just as easily. Right?</p>

                <p>Wrong! We don't use ladders - we use a vacuum cleaner. And not just any vacuum, ours has 3 industrial-strength motors, and features an on-board HD camera that lets us see what we're doing. You can get the same quality cleaning without the risk!</p>

                <p>And because we don't have to move a ladder every time we clean an arms-length of gutter, we can get to work a lot quicker! Without having to rush, or bang ladders all over your house. Doesn't that sound more like it?</p>

                <p>But that's not all.</p>

                <p>When you hire Clean Gutter Co, you are signing up for top-notch service. You can trust that we'll do an excellent job every time, and you'll be treated with the utmost respect and courtesy. It's my promise to you. If at any time, you are not satisfied with your service, please <a class="text-link" href="mailto:joe@cleangutterco.com">email me directly</a>, and I will personally address your concerns.</p>

                <p>So, what are you waiting for? <a class="text-link" href="tel:1-478-841-9797">Give us a call</a>, and get the safe, professional service you deserve!</p>

                <p>Until then,</p>
                <p style="">Joe Daigle</p>

            </div>

        {% endblock %}

        {% block layout_sbr %}
            {% include 'components/forms/quote-request.html.twig' %}
            <div class="w-100 mb-3"></div>
            {% include 'components/testimonials.html.twig' %}
        {% endblock %}




    {% endembed %}

{% endblock %}