{# twig template #}
{% extends 'base.html.twig' %}


{% block page_content %}

    {% embed 'layouts/right-sidebar.html.twig' %}

        {% block layout_header_left %}
            {% include 'components/header/logo.html.twig' %}
        {% endblock %}

        {% block layout_header_middle %}{% endblock%}

        {% block layout_header_right %}
            {% include 'components/header/call-now.html.twig' %}
        {% endblock %}

        {% block layout_page_title %}A business you can trust.{% endblock %}

        {% block layout_main_content %}
            <div class="col-12">
                <p>Welcome, I'm Joe, the owner & operator of Clean Gutter Co.</p>

                <p>I started cleaning gutters because I know how important your home is, and I drive past way too many houses every day that have leaves piled up and rotten wood along the roof. Why spend all your hard earned money to buy a home, just to let it fall apart? I know, I know. I won't lecture you, but as a father and husband, I'm all too familiar with the hustle and bustle of the day-to-day. It's easy to put off something like clearing the gutters.</p>

                <p>I want to help you tackle those gutters, so they CAN be an after-thought - one you don't have to worry about anymore. You should be able to rest easy knowing your home isn't falling apart around you, and it starts with who you hire to work on your home. I want you to be able to get your gutters cleaned safely and professionally - without worrying about anyone falling off a ladder or roof.</p>

                <p>That's why we're here! We'll safely clean your gutters and get you set up with a routine schedule, so it's on auto-pilot. All you'll have to do is pay each time we return, and you can do that online. Hassle-free! We'll text you before each visit, so you know to expect us, and email your invoice and payment receipt.</p>

                <p>You've may have already seen the <a href="#">vacuum on our website</a>, but it's worth mentioning to you now. We employ an incredibly powerful vacuum that can get the dirt out of your gutters without damaging them or your roof. It's equipped with a wireless camera that allows us to see in the gutters as we clean, and enabling us to work without ladders or rock-climbing equipment. Safely on the ground is where we'll be.</p>

                <p>Before you go, know that when you hire Clean Gutter Co, you are signing up for top-notch service. You can trust that we'll do an excellent job every time, and you'll be treated with the respect and courtesy you deserve. It's my promise to you. If at any time, you are not satisfied with your service, you <a href="mailto:joe@cleangutterco.com">email me directly</a>, and I will personally contact you to address your concerns.</p>

                <p>I hope to see you soon!</p>

                <p>Until then,</p>
                <p>Joe Daigle</p>

            </div>

            {#<div class="col-12">#}
                {#<img id="logo" class="img-fluid" src="{{ asset('build/assets/img/PeachRegional-Logo-w300.jpg') }}" alt="Peach County Regional Chamber of Commerce Logo" />#}
            {#</div>#}
        {% endblock %}

        {% block layout_sbr %}
            {% include 'components/forms/quote-request.html.twig' %}
            <div class="w-100 mb-3"></div>
            {% include 'components/testimonials.html.twig' %}
        {% endblock %}




    {% endembed %}

{% endblock %}