{# twig template #}
{% extends 'base.html.twig' %}

{% block page_content %}

    {% embed 'layouts/right-sidebar.html.twig' %}

        {% block layout_page_title %}
            Drop Us A Line. We Love Hearing From Customers.
        {% endblock %}

        {% block layout_main_content %}
            <div class="col-12">
                <h3>How You Can Reach Us</h3>

                <p>
                    <span class="font-weight-bold d-inline-block" style="min-width:15%">Phone:</span> (478) 841-9797
                    <br />
                    <span class="font-weight-bold d-inline-block"  style="min-width:15%">Email:</span> joe@cleangutterco.com
                </p>

                <div class="w-100 mb-3"></div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80113.936116061!2d-83.77153605314619!3d32.61627579367654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f3efc55066884d%3A0x791214dbd77cdc1!2sClean+Gutter+Co!5e0!3m2!1sen!2sus!4v1556409228107!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" ></iframe>

            </div>

        {% endblock %}

        {% block layout_sbr %}
            {% include 'components/forms/quote-request.html.twig' %}
            <div class="w-100 mb-3"></div>
            {% include 'components/testimonials.html.twig' %}
        {% endblock %}

    {% endembed %}

{% endblock %}