{# twig template #}
{% extends 'landing-page.html.twig' %}


{% block main_content %}

    {{ parent() }}

    {# BREAK #}
    <div class="w-100"></div>

    {# Home Content #}
    <div class="row">
        <div class="col-6 my-auto">
            <form id="login" action="#">

            </form>
        </div>
    </div>
{% endblock %}