{# twig template #}
{# Default layout for landing pages #}

{#PAGE TITLE#}
<div class="col-12">
    <h1 class="display-5 text-left text-primary font-weight-bold my-5">

        {% block layout_page_title %}{% endblock %}

    </h1>
</div>

 {#ROW-BREAK#}
<div class="w-100"></div>

 {#MAIN CONTAINER#}
<div class="col-lg-8">
    <div class="row">

        {% block layout_main_content %}{% endblock %}

    </div>
</div>

 {#RIGHT SIDE BAR#}
<div class="col-lg-4 mt-3 mt-lg-0">
    <div class="row">

        {% block layout_sbr %}{% endblock %}

    </div>
</div>