{# twig template #}
<a id="bbblink" class="rbhzbul footer-affiliate-logo"
   href="https://www.bbb.org/us/ga/byron/profile/gutter-cleaning/clean-gutter-0743-99136#bbbseal"
   title="Clean Gutter Co, LLC, Gutter Cleaning, Byron, GA"
   style="display: block;position: relative;overflow: hidden; width: 200px; height: 76px; margin: 0px; padding: 0px;"><img
            style="padding: 0px; border: none;" id="bbblinkimg"
            src="https://seal-centralgeorgia.bbb.org/logo/rbhzbul/clean-gutter-99136.png" width="400" height="76"
            alt="Better Business Bureau Membership Seal"/></a>
<script type="text/javascript">

    var bbbprotocol = (("https:" == document.location.protocol) ? "https://" : "http://");

    (function () {
        var s = document.createElement('script');
        s.src = bbbprotocol + 'seal-centralgeorgia.bbb.org' + unescape('%2Flogo%2Fclean-gutter-99136.js');
        s.type = 'text/javascript';
        s.async = true;

        var st = document.getElementsByTagName('script');
        st = st[st.length - 1];

        var pt = st.parentNode;
        pt.insertBefore(s, pt.nextSibling);
    })();
</script>