{# twig template #}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">

    <title>
        {% block doc_title %}
            {{ 'Clean Gutter Co' }}
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    {# TODO: Implement web manifest #}
    <!-- Place favicon.ico in the root directory -->
    {#<link rel="manifest" href="site.webmanifest">#}
    {#<link rel="apple-touch-icon" href="icon.png">#}
    <link rel="icon" href="{{ absolute_url('favicon-home.ico') }}">
    <script src="https://www.youtube.com/iframe_api"></script>

    {#<meta name="theme-color" content="#fafafa">#}


    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>

<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

{# BODY BLOCK #}
<div id="app">

    <div class="container-fluid col-md-10">
        <div class="row py-4">

            {# Site Wide Navigation Bar #}
            {% include 'components/nav-bar.html.twig' %}

            {# Override to impelement page body #}
            {% block page_content %}{% endblock %}

        </div>

    </div>

</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>

</html>