{# twig template #}
<div class="col-12">
    <div class="row footer py-3">

        {# COLUMN LEFT #}
        <div class="col-12 col-sm-4">
            <span class="footer-section-header">Resources</span>
            <hr />

            <ul class="footer-nav navbar-nav">

                {% for menu_item in template_data.get('menus').get('footer_menu') %}

                    <li class="nav-item text-left">
                        <a class="nav-link" href="{{ path(menu_item.routeName) }}">{{ menu_item.displayText}}</a>
                    </li>

                {% endfor %}

            </ul>

        </div>

        {# COLUMN MIDDLE #}
        <div class="col-12 col-sm-4">
            <span class="footer-section-header">Organization</span>
            <hr />

            <ul class="footer-nav navbar-nav">
                <li class="nav-item text-left">
                    <a class="nav-link" href="{{ path('contact') }}">Contact Us</a>
                </li>
                <li class="nav-item text-left">
                    <a class="nav-link" href="https://www.facebook.com/Clean-Gutter-Co-766713240388712" target="_blank">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>

        {# COLUMN RIGHT #}
        <div class="col-12 col-sm-4">
            <span class="footer-section-header">Memberships & Affiliations</span>
            <hr />

            <!-- Better Business Bureau -->
            <div class="row">
                <div class="col-12">
                    {% include 'external/better-business-bureau-seal.html.twig' %}
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-3">
                    <a href="https://www.peachchamber.com/members/member/clean-gutter-co-840" target="_blank"><img id="logo" class="img-fluid footer-affiliate-logo" src="{{ asset('build/assets/img/PeachRegional-Logo-w300.jpg') }}" alt="Peach County Regional Chamber of Commerce Membership Seal" /></a>
                </div>
            </div>

            <div class="w-100 mt-3"></div>


        </div>

    </div>
</div>