{# twig template #}
<div class="col-12">
    <div class="row footer">

        <div class="col-12 col-sm-3">
            <ul class="footer-nav navbar-nav">

                {% for menu_item in template_data.get('footer_menu').fetchAll() %}

                    <li class="nav-item text-left">
                        <a class="nav-link" href="{{ path(menu_item.routeName) }}">{{ menu_item.displayText}}</a>
                    </li>

                {% endfor %}

            </ul>
        </div>

        <div class="col-12 col-sm-3">

        </div>
        <div class="col-12 col-sm-3">

        </div>

    </div>
</div>