{# twig template #}
{#TESTIMONIALS#}
<div class="col-12">
    <div class="card testimonial">
        <h5 class="card-header text-primary text-center">Our Reviews</h5>

         {#USER ICON#}
        <i class="fas fa-user-circle text-center text-primary fa-5x mt-4"></i>

         {#REVIEW RATING#}
        <div class="card-body">
            <div id="review-rating" class="card-title text-center">
                <i class="fas fa-star text-gold"></i>
                <i class="fas fa-star text-gold"></i>
                <i class="fas fa-star text-gold"></i>
                <i class="fas fa-star text-gold"></i>
                <i class="fas fa-star text-gold"></i>
            </div>

             {#REVIEW TEXT#}
            <div class="card-text ">
                <blockquote class="blockquote text-left">
                    <p>Joe cleaned my gutters the same day I called. He showed me a live video of the gutters being cleaned, so I could see the results for myself! The price was right, and the service was excellent. Will definitely use again.</p>

                    <footer class="blockquote-footer text-right">
                        <span class="text-primary">Claire via</span>
                        <a href="https://bit.ly/2VPqhSV"><cite title="Google">Google</cite></a>
                    </footer>
                </blockquote>
            </div>

        </div>
    </div>
</div>