{# twig template #}
<table class="h-100 w-100 border-dashed border-primary p-2">
    <tbody class="p-2">
        <tr>
            <td class="align-bottom text-center w-100 text-primary">Schedule A Quote By Phone</td>
        </tr>
        <tr>
            <td class="align-top text-center w-100 display-6 display-md-6 font-weight-bold text-primary text-nowrap">(478) 261-1140</td>
        </tr>
    </tbody>
</table>
